version: 2

updates:
  - package-ecosystem: "uv"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
    groups:
      docker:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
    groups:
      gh:
        patterns:
          - "*"
